{% extends "base.html" %}
{% block title %}Posts &mdash; Brian Ragle{% endblock %}
{% block content %}
<section class="section">
  <div class="wrap">
    <h2>All posts</h2>
    <ul class="archive-list">
      {% for p in posts %}
      <li>
        <span class="date">{{ p.date_str }}</span>
        <span class="type">{{ p.type }}</span>
        <a class="title" href="{{ root }}posts/{{ p.slug }}/index.html">{{ p.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
